.container-tabela {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 1000px;
  }
  
  .funcionarios {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Wrapper com rolagem */
  .scroll-tabela {
    max-height: 550px !important;
    overflow-y: auto;
    
  }
  
  /* Tabela base */
  .tabela {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Cabeçalho fixo */
  .tabela thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  /* Estilo das células */
  .tabela th,
  .tabela td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .btn-add{
    display: flex;
    position: relative;
    margin-left: 800px !important;
    
    padding:7px;
    color: white;
    background-color: rgb(0, 17, 255);

    border: none;
    border-radius: 8px;

    cursor: pointer;
  }

  .btn-add:hover{
    background-color: rgb(0, 9, 129)
  }

  .ferramentas{
    text-align: center;
    background-color: red;

    border-radius: 8px;
    border: none;

    cursor: pointer;
  }

