container-tabela {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .clientes {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Scroll da tabela */
  .scroll-tabela {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* Tabela base */
  .tabela {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Cabeçalho fixo */
  .tabela thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  /* Células */
  .tabela th,
  .tabela td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Zebra alternada */
  /* .tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
   */
  /* Botões */
 