

.botaolixeira{
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
}

.botaoremover{
    padding: 10px;
}


.remover{
    text-align: center;
    align-items: center;
}