

.container-tabela {
    display: flex;
    
    margin:0;
  }
  
  .produtos {
    width: 100%;
    max-width: 800px;
    margin: 0 ;

    height: 88dvh !important;
    
  }
  
  .scroll-tabela {
    max-height: 550px !important;
    overflow-y: auto;
    
  }
  
  .tabela-produtos {
    width: 700px ;
    border-collapse: collapse;
  }
  
  .tabela-produtos th, .tabela-produtos td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tabela-produtos thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  .remover {
    text-align: center;
    background-color: red;

    border-radius: 8px;
    border: none;

    cursor: pointer;
  }

  .remover:hover {
    background-color: rgb(133, 0, 0);
  }
  
  .botaoremover {
    padding: 10px;
  }
  
  .botaolixeira {
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
  }

  /* .cabecalho{
    border: 1px solid #000000 !important;
    background-color: #636363;
  } */
  
  /* .tabela tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
   */
  .tabela th,
  .tabela td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .add-btn{
    padding:7px;
    color: white;
    background-color: rgb(0, 17, 255);

    border: none;
    border-radius: 8px;

    cursor: pointer;
  }

  .add-btn:hover{
    background-color: rgb(0, 9, 129);
  }

  .pesquisa{
    padding: 6px;
    border-radius: 6px;
  }

  .pesquisa-btn{
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .pesquisa{
    border: 1px solid black !important;
    border: black;
  }

  .pesquisa-btn{
    border:none;
    background-color: white;
  }

  