body{
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;

    background-color: black !important;
    color: #f8f8ff;

    display: flex;
    height: 100vh;
    
    
}
.conjunto{

    width: 300px;

    margin-left: 25px;
    margin-right: 25px;



    padding: 40px;

    /* align-items: center; */
    text-align: center;

    border-radius: 10px;

    transform: scale(1.2);

}

.titulo{
    font-size: 20px;
    text-align: center;

}

.conjunto p{

    text-align: center;
    margin-left: -30px;
    margin-top: 50px;
}

.conjunto input{
    margin-left: -30px;
    margin-top: -80px;
    padding-top: 7px;
    padding-bottom: 7px;

    text-indent: 15px;


}

.conjunto button{
    margin: 0 auto;
    align-items: center;

    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    

    width: 80%;

    margin-bottom: 15px;
    
   border: none;
   border-radius: 8px;


   background-color: rgb(0, 0, 0);

   color: #f8f8ff;

   cursor: pointer;
}

.conjunto button:hover{
    
}

.criarConta {
    background: none !important;
    border: none !important;
    color: #f8f8ff ;
}

.botao:hover{
    background: rgb(50, 148, 25);
    transition: 0.3s;
}

.botaoAlterar{
    background: #333;
    border: none;
    color: #f8f8ff;
}
.logo-wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
  }
  .logo-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    align-items: center;
    margin-top: 30px;
    padding-left: 60px;
    
  }

  .botaoVoltarHome{
    display: flex;

 
} 

.CadFunc{
    background: none !important;
    border: none !important;
    color: #f8f8ff ;
    font-size: 13px;
}


.padInicial{
    margin-bottom: 25px;
}

.padInput{
    margin-bottom: 50px
}

.botaoAlterar{
    background: rgb(36, 106, 236) !important;
}

.botaoCadastrar{
    background: rgb(1, 175, 1) !important ;
}

.botaoCadastrar:hover{
    background: rgb(18, 102, 18) !important;
}

.botaoAlterar:hover{
    background: rgb(38, 38, 129) !important;
}