@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.conjunto{
    text-align: center;
    background: #e5e5f0;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 100px;
    box-shadow: 2px 3px 4px #444 ;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    

}

.titulo{
    margin-top: -40px;
    font-size: 30px;
    

}

.conjunto p{
    text-align: left;
    margin-left: -30px;
    margin-top: 50px;
}

.conjunto input{
    margin-left: -30px;
    margin-top: -80px;
    padding: 5px;
    padding-right: 70px;
    border-radius: 5px;
}

.botao{

    margin-top: 40px;
    padding: 20px;
    box-shadow: 1px 2px 3px #444;
    border-radius: 10px;
    font-size: 20px;
}

.botao:hover{
    background: rgb(73, 73, 214);
    transition: 0.3s;
}

@media screen and (min-widht: 600px) {
    .conjunto{
        transform: scale(1.3);
    }
}