/* Faturamento.css */

.faturamento-container {
    display: flex;
    flex-direction: column;
    
    margin: 0;

    padding: 0;


    width: 80%;
  }
  
  .faturamento-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faturamento-container h3 {
    margin-top: 20px;
  }
  
  /* Container para os gráficos em dupla */
  .chart-row {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os gráficos */
    gap: 20px; /* Espaço entre as colunas */
    margin-bottom: 30px; /* Espaço entre as linhas */
    width: 100%; /* Garantir que ocupe toda a largura disponível */
  }
  
  /* Cada gráfico */
  .chart-container {
    width: 48%; /* Largura dos gráficos dentro de cada linha */
    max-width: 800px; /* Limita a largura máxima */
  }
  
  @media (max-width: 768px) {
    /* Para telas menores, mostramos os gráficos em uma coluna */
    .chart-row {
      flex-direction: column;
    }
  
    .chart-container {
      width: 100%; /* Cada gráfico ocupa toda a largura */
    }
  }
  