.item{
    padding: 30px;

    text-align: center;
    align-content: center;

    border: 1px solid #f0f0f0; 
    border-radius: 10px;

    margin: 20px;

    width: 300px;

}

.item:hover{
    border: 1px solid #cfcfcf;
    transition: 0.5s;
}

