body{
    margin: 0;
    padding: 0;

    display: flexbox;
}

aside{
    border-right: 1px solid rgb(187, 187, 187);

    width: 200px;
    height: 92vh;
}

aside ul{
    display: flex;
    list-style: none;

    

    flex-direction: column;
    
}

aside ul li{

    padding: 10px;


    padding-bottom: 40px;
    padding-left: 0px;
    
}


.first{
    padding-top: 50px;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }

    aside{
        display: none;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.login{
    order: -1;
}

nav{
    
    display: flex;

    justify-content: space-around;
    align-items: center;

    height: 8vh;


    background-color: black;
    color:aliceblue;
}

.deslogar{
    background: transparent;
    border: none;

    color: red;
}

img{
    color: red;
}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
<<<<<<< Updated upstream
    justify-content: center;
=======
    align-items: center;
    ;
>>>>>>> Stashed changes
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< Updated upstream
=======
    align-items: center;
>>>>>>> Stashed changes
    

    width: 100%;

    
}

.imagemSair{
    width: 12px;
    height: 12px;
}